.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
img{
    clip-path: circle();
}
body{
    background: gainsboro;
}
h1,a,span{
    color:black;
}