*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    margin-top: 40px;
    
}
img{
    clip-path: circle();
}
body{
    background: gainsboro;
}
h2,a{
    color:black;
    margin-top: 20px;
}
